.card
  .card-header Social Links
  %ul.list-group.list-group-flush
    %li.list-group-item
      = link_to 'http://discord.rsl.tf/', target: '_blank', rel: :noopener do
        = image_tag 'discord-logo.png', width: 26
        Join us on Discord
    %li.list-group-item
      = link_to 'http://twitter.rsl.tf/', target: '_blank', rel: :noopener do
        = image_tag 'twitter-logo.png', width: 26
        Follow us on Twitter
    %li.list-group-item
      = link_to 'http://steam.rsl.tf/', target: '_blank', rel: :noopener do
        = image_tag 'steam/steam-logo.png', width: 26
        Join our Steam Group

%br
.card
  .card-header League Partners
  %ul.list-group.list-group-flush
    %li.list-group-item
      = link_to 'https://twitch.tv/kritzkast', target: '_blank', rel: :noopener do
        KritzKast
    %li.list-group-item
      = link_to 'https://discord.io/Qixalite', target: '_blank', rel: :noopener do
        Qixalite